@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --bgColor: #333;
  --textPrimary: #fff;
  --textSecondary: #666;
  --primaryColor: #fd4;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bgColor);
  color: var(--textPrimary);
  font-size: 1.4rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--primaryColor);
}

.cheetah {
  width: 70px;
}

main {
  width: 800px;
  margin: 50px auto;
}

#header {
  display: grid;

  margin: 20px 6px 30px;
}

#buttons {
  text-align: right;
}
#info {
  color: var(--primaryColor);
}
button {
  background: rgba(255, 255, 255, 0.2);
  border: 0;
  color: rgba(255, 255, 255, 0.5);
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#game {
  line-height: 35px;
  height: 105px;
  overflow: hidden;
  position: relative;
}

#game:focus {
  outline: 0;
}
#game:focus #words {
  filter: blur(0px);
}

div.word {
  display: inline-block;
  font-family: "Roboto Mono", monospace;
  margin: 0 5px;
}

#words {
  filter: blur(5px);
  color: var(--textSecondary);
}

#focus-error {
  position: absolute;
  inset: 0;
  text-align: center;
  padding-top: 35px;
}

#game:focus #focus-error {
  display: none;
}
.letter {
  display: inline-block;
}
.letter.correct {
  color: #fff;
}
.letter.incorrect.extra {
  color: #ff1616;
  opacity: 0.45;
}
.letter.incorrect {
  color: #ff7070;

  margin-left: 0;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#cursor {
  display: none;
  width: 2px;
  height: 1.6rem;
  background-color: var(--primaryColor);
  position: fixed;
  animation: blink 0.8s infinite;
}

#game:focus #cursor {
  display: block;
}
@media (max-width: 1024px) {
  main {
    width: 90%;
    margin: 30px auto;
  }
  body {
    font-size: 1.2rem;
  }
  .cheetah {
    width: 60px;
  }
}
