@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Vazirmatn:wght@100..900&display=swap");
:root {
  --bgColor: #333;
  --textPrimary: #fff;
  --textSecondary: #666;
  --primaryColor: #fd4;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bgColor);
  color: var(--textPrimary);
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--primaryColor);
  position: relative;
  top: -30px;
  left: 40px;
}

.cheetah {
  width: 70px;
  margin-top: 2px;
}

main {
  width: 90%;
  margin: 50px auto;
}
#main2 {
  width: 70%;
  margin: 50px auto;
}

#header {
  display: flex;
  margin: 70px 6px 180px;
  position: relative;
  top: -10px;
  align-items: center;
  justify-content: space-between;
}

#buttons {
  text-align: right;
}
#info {
  display: hidden;
  color: var(--primaryColor);
}
button {
  background: rgba(255, 255, 255, 0.2);
  border: 0;
  color: rgba(255, 255, 255, 0.5);
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#game {
  line-height: 35px;
  height: 105px;
  overflow: hidden;
  position: relative;
}

#game:focus {
  outline: 0;
}
#game:focus #words {
  filter: blur(0px);
}

div.word {
  display: inline-block;
  font-family: "Roboto Mono", monospace;
  margin: 0 5px;
}
div.word.hidden {
  display: none;
}

#words {
  filter: blur(5px);
  color: var(--textSecondary);
}

#focus-error {
  position: absolute;
  inset: 0;
  text-align: center;
  padding-top: 35px;
}

#game:focus #focus-error {
  display: none;
}
.letter {
  display: inline-block;
}
.letter.correct {
  color: #fff;
}
.letter.incorrect.extra {
  color: #ff1616;
  opacity: 0.45;
}
.letter.incorrect {
  color: #ff7070;
  margin-left: 0;
}

@media (max-width: 1850px) {
  main {
    width: 90%;
    margin: 50px auto;
  }

  .logo {
    left: 0;
  }

  #canvasPage {
    width: 100% !important; /* Full width on smaller screens */
    height: 250px !important; /* Adjust height as needed */
  }

  #wpmData {
    width: 100% !important; /* Adjust width to fit the container */
    height: auto !important; /* Adjust height as needed */
  }

  #wpmData #container {
    height: 100% !important; /* Adjust height to fit content */
  }

  #wpmData #title {
    font-size: 2rem !important; /* Adjust font size */
  }

  #wpmData .data {
    font-size: 2rem !important; /* Adjust font size */
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#cursor {
  display: none;
  width: 2px;
  height: 1.6rem;
  background-color: var(--primaryColor);
  transition: 0.2s;
  position: absolute;
  animation: blink 0.8s infinite;
}

#game:focus #cursor {
  display: block;
}

#game.over #words {
  opacity: 0.5;
}

#game.over:focus #cursor {
  display: none;
}

#game.over #focus-error {
  display: none;
}
#typingPage {
  display: none;
}

#canvasPage {
  display: flex; /* Use flexbox to center contents */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  max-width: 100%; /* Prevent the canvas page from becoming too wide */
  width: 150%; /* Responsive width */
  height: 30vh; /* Responsive height based on viewport height */
  position: relative; /* Use relative positioning */
  margin: auto; /* Center horizontally */
}

#graph {
  width: 100%; /* Full width of the container */
  height: 100%; /* Full height of the container */
}

#wpmData {
  width: 90%; /* Responsive width */
  max-width: 200px; /* Maximum width */
  height: 100%; /* Adjust height based on content */
  font-family: "vazirmatn";
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 10px;
  box-sizing: border-box; /* Ensure padding is included in width */
}

#wpmData #container {
  width: 100%; /* Adjust width to fit the container */
  height: 165px; /* Set a fixed height */
  display: block;
  text-align: center;
  position: relative;
}

#wpmData #title {
  font-size: 2.5rem;
  color: var(--textSecondary);
  line-height: 3.5rem;
}

#wpmData .data {
  font-size: 3.2rem;
  color: var(--primaryColor);
}
