@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --bgColor: #333;
  --textPrimary: #fff;
  --textSecondary: #666;
  --primaryColor: #fd4;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bgColor);
  color: var(--textPrimary);
  font-size: 1.4rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--primaryColor);
}

.cheetah {
  width: 70px;
}

main {
  width: 800px;
  margin: 20px auto;
}

#header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#buttons {
  text-align: right;
}
#info {
  color: var(--primaryColor);
}
button {
  background: rgba(255, 255, 255, 0.2);
  border: 0;
  color: rgba(255, 255, 255, 0.5);
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}
